<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embed - Movie</title>
    <link rel="stylesheet" href="../css/players.css">
    <script src="../js/bradmax_player.js" type="text/javascript"></script>
</head>
<body>
    <!-- Player Container -->
    <div class="bradmax-player" id="PLAYER_DOM_ID"></div>

    <script type="text/javascript">
        // Function to decode URL parameter value
        function decodeUrlParameter(value) {
            return decodeURIComponent(value.replace(/\+/g, '%20'));
        }
    
        // Function to parse URL parameters
        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : results[1].indexOf('%') !== -1 ? decodeUrlParameter(results[1]) : results[1];
        };
    
        // Extracting URL parameters
        var sourceUrl = getUrlParameter('source');
        var title = getUrlParameter('title-1');
        var splashImageUrl = getUrlParameter('img');
        var duration = parseInt(getUrlParameter('duration')); // Parsing duration as integer
        var languageCode = getUrlParameter('subcode');
        var subtitlesUrl = getUrlParameter('substitleurl');
    
        // Setup player configuration object
        var playerConfig = {
            "dataProvider": {
                skin: { theme: "zebra" },
                "title": title,
                "duration": duration,
                "source": [{
                    "url": sourceUrl,
                }],
                "splashImages": [{
                    "url": splashImageUrl,
                    "width": 955,
                    "height": 397
                }],
                // "advertisement": {
                //     "vmap": "../advertisements/ads.xml"
                // },
                "subtitlesSets": languageCode && subtitlesUrl ? [
                    { "languageCode": languageCode, "url": subtitlesUrl }
                ] : [] 
            }
        };
    
        // Get player container element
        var element = document.getElementById("PLAYER_DOM_ID");
    
        // Initialize player
        var player = window.bradmax.player.create(element, playerConfig);
    </script>
</body>
</html>